body {
    background-image: url("vreme.jpg");
}

table {
    align-self: center;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid brown;
}

td {
    vertical-align: top;
    width: 50%;
}

img {
    border: none;
    display: block;
    margin: auto;
}

h2 {
    text-decoration: underline;
    margin-top: 0;
}

h1, h2 {
    font-family: 'Courier New';
    font-style: italic;
    text-align: center;
    color: firebrick;
}

h1 {
    text-decoration-line: underline overline;
    margin: 0;
}

p {
    font-family: Verdana;
    font-size: 10pt;
    text-align: justify;
    text-indent: 3ex;
}

ol {
    list-style-type: square;
    font-family: Arial;
    font-size: 11pt
}

a:active {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    font-style: italic;
}

#top {
    background-color: wheat;
    padding-bottom: 0;
}

#bottom {
    background-color: lightyellow;
}